[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"Leepai7ieSaeD">> },
		{ default_user, <<"admin">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [
	    { load_definitions, "/etc/rabbitmq/definitions.json"},
	    { listener, [
		    { port, 15672 },
		    { ssl, false }
	    ]}
	]},
	{ rabbitmq_tracing, [
        { directory, "/var/tmp/rabbitmq-tracing" },
        { username,  "guest" },
        { password,  "guest" }
    ]}
].